body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#signInCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#signInLabel {
    margin-bottom: 20px;
}

#signInInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#usernameInput {
    margin-bottom: 10px;
    width: 175px;
}

.passwordInputCont {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

#passwordInput {
    margin-bottom: 10px;
    width: 175px;
    position: relative;
    left: 9px;
}

#showPasswordBtn {
    position: relative;
    right: 15px;
    top: 2px;
    cursor: pointer;
}


#confirmPasswordInput {
    margin-bottom: 10px;
    width: 175px;
    position: relative;
    left: 9px;
}

#showConfirmPasswordBtn {
    position: relative;
    right: 15px;
    top: 2px;
    cursor: pointer;
}

#logInBtn {
    margin-bottom: 20px;
}