<!doctype html> 
<html> 
    <head>
      <meta charset='UTF-8'/>
      <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
      <title>Login/Register</title>
      <link rel="stylesheet" href="/css/style.css">
    </head> 

    <body> 

    <div id="signInCont">
        <h1 id="signInLabel">Create New User</h1>
        <form id="signInInput" method="POST" action="/register">
            {{! username contains letters and numbers only }}
            <input type='text' name='username' id='usernameInput' placeholder="Username" pattern="[A-Za-z0-9]+">
            {{! password must contain 8 or more chars that are of at least one number, and one uppercase and lowercase letter }}
            <input type="text" name='password' id="passwordInput" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <input type="text" name='confirmPassword' id="confirmPasswordInput" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <button id="createUserBtn">Create User</button>
        </form>

    </div>
        
    </body>
</html>